@charset "UTF-8";



#footer #apply {
  background-color: #ff5b2f;
  height: 200px;
}

#footer #apply .container {
  padding: 0 60px;
}

#footer #apply .section-title {
  height: 200px;
  line-height: 200px;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

#footer #apply .col-xs-9 {
  text-align: center;
}

#footer #apply .col-xs-3 {
  text-align: center;
  height: 200px;
  line-height: 200px;
}

#footer #apply .btn-apply {
  background-color: #fff;
  border-color: #fff;
  color: #ff5b2f;
  width: 200px;
  height: 70px;
  font-size: 20px;
  padding-top: 20px;
}

#footer #centeR {
  background-color: #F6F5F5;
  text-align: center;
}

#footer #centeR .center {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}

#footer #centeR .center li {
  height: 260px;
  float: left;
}

#footer #centeR .center li img {
  display: inline-block;
  padding-top: 60px;
}

#footer #centeR .center li h5 {
  font-size: 24px;
  margin: 20px 0;
  color: #666;
}

#footer #centeR .center li p {
  width: 260px;
  line-height: 24px;
  margin: 10px auto;
  text-align: left;
  color: #aaa;
}

#footer #centeR .center li a {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: -30px;
  left: -20px;
  color: #666;
}

 #footer {
  background-color: #333435;
}

#footer .container {
  padding: 60px;
}

#footer .container #ok, #footer .container #error {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 100px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  display: none;
}

#footer .container .fp-list {
  display: inline-block;
}

#footer .container .fp-list .fp-header {
  color: #ffffff;
  border-bottom: 1px solid #727272;
  height: 34px;
  line-height: 33px;
}

#footer .container .fp-list .fp-body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .container .fp-list .fp-body ul li {
  margin-top: 10px;
}

#footer .container .fp-list .fp-body ul li > a {
  color: #ffffff;
}

#footer .container .fp-list .fp-body ul li > a:hover {
  color: #727272;
}

#footer .container .fp-list .fp-body ul li p {
  color: #ffffff;
  margin: 0;
}

#footer .container .form-horizontal .col-xs-6, #footer .container .form-horizontal .col-xs-12 {
  padding-left: 0;
}

#footer .container .form-horizontal .form-group:last-child {
  margin-bottom: 0;
}

#footer .container .form-horizontal .form-control {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0;
  color: #fff;
}

#footer .container .form-horizontal .form-control:focus {
  box-shadow: none;
}

#footer .container .form-horizontal .btn {
  width: 100px;
}

#footer .container .form-horizontal .btn:focus,#footer .container .form-horizontal .btn:active {
  box-shadow: none;
  opacity: 0.8;
}

#footer .container .form-horizontal textarea {
  resize: none;
}

#footer .container .form-horizontal .btn-primary {
  border-radius: 0;
  background-color: #ff5b2f;
  border-color: #ff5b2f;
  margin-right: 15px;
}

#footer .container .form-horizontal .btn-default {
  border-radius: 0;
  border-color: #727272;
  background-color: transparent;
  color: #727272;
}

#footer .container .qrcode {
  text-align: center;
  padding: 0 0;
  margin-left: 15px;
  color: #000;
  width: 122px;
  height: 150px;
  /*background-color: #fff;*/
}

@media (max-device-width: 414px) {
  /*footer {
    display: none;
  }*/
}

 
  
  /* about */


section img.hidden {
  display: none;
}

section .banner {
  text-align: center;
}

section .banner .title3 {
  font-size: 60px;
  width: 340px;
  font-weight: 300;
  height: 80px;
  color: #fff;
  position: absolute;
  top: 154px;
  left: 50%;
  margin-left: -170px;
}

section .banner .description {
  font-size: 18px;
  width: 600px;
  height: 30px;
  font-weight: 100;
  position: absolute;
  top: 260px;
  left: 50%;
  margin-left: -300px;
  color: #fff;
}

section .Cont {
  max-width: 920px;
  margin: 180px auto;
  text-align: center;
}

section .Cont p {
  font-size: 20px;
  margin: 0 0;
  color: #666;
  line-height: 46px;
}

section .bei {
  background-color: #F6F5F5;
}

section .weizi {
  display: block;
  margin: 0 auto;
}

section .kuai {
  height: 300px;
  text-align: center;
  margin-top: 160px;
}

section .kuai h3 {
  color: #ff5822;
  font-weight: bold;
  margin-bottom: 30px;
}

section .kuai p {
  color: #999;
  line-height: 16px;
  word-spacing: 8px;
  letter-spacing: 1px;
}

section .activeUs {
  height: auto;
  padding: 0 80px;
  margin-bottom: 60px;
}

section .activeUs .usCenter {
  height: auto;
  text-align: center;
}

section .activeUs .usCenter .usCont {
  width: auto;
  height: 200px;
  position: relative;
}

section .activeUs .usCenter .usCont p {
  position: absolute;
  bottom: 0;
  padding: 0 6px;
  font-size: 18px;
  line-height: 28px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  display: none;
}


section .mobile {
  display: none;
}

section .bot {
  background-color: #F6F5F5;
  height: 226px;
  padding: 0 60px;
}

section .bot .left {
  text-align: center;
  border-right: 1px solid #D9D9D9;
  margin-top: 10px;
}

section .bot .right {
  float: right;
  text-align: center;
  margin-top: 10px;
  height: 207px;
}

section .bot a {
  list-style: none;
  color: #222;
}

section .bot h3 {
  margin: 60px 0 30px 0;
}

section .bot p {
  margin-bottom: 32px;
  font-size: 14px;
}



/* index */
section#step .container {
  padding: 60px 0;
  background-color: #fff;
}

section#step .container .step {
  margin: 0px;
}

section#step .section-title {
  text-align: center;
}

section#step ul > li {
  position: relative;
  margin-bottom: 10px;
}

section#step ul > li img {
  height: 50px;
}

section#step ul > li p {
  position: absolute;
  top: 0;
  height: 50px;
  z-index: 1000;
  text-align: center;
  line-height: 50px;
  color: #aaa;
}

section#step ul > li.s1 {
  text-align: end;
}

section#step ul > li.s1 p {
  right: 15px;
  width: 126px;
}

section#step ul > li.s2 p {
  width: 126px;
}

section#step ul > li.s3 {
  text-align: end;
}

section#step ul > li.s3 p {
  width: 225px;
  right: 15px;
}

section#step ul > li.s4 p {
  width: 187px;
}

section#step ul > li.s5 {
  text-align: center;
}

section#step ul > li.s5 .wrapper {
  position: relative;
}

section#step ul > li.s5 .wrapper p {
  width: 100%;
}

section#step ul > li.s6 {
  text-align: end;
}

section#step ul > li.s6 p {
  width: 171px;
  right: 15px;
}

section#step ul > li.s7 p {
  width: 126px;
}

section#step ul > li.s8 {
  text-align: center;
}

section#step ul > li.s8 .wrapper {
  position: relative;
}

section#step ul > li.s8 .wrapper p {
  width: 100%;
}